body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #2E2F42;
}

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.111;
    color: #FFFFFF;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
}

ul{
    list-style: none;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin: 0;
    padding-left: 0;
}

button{
    background-color: #4D5AE5;
    color: #FFFFFF;
}

button:focus, button:hover{
    background-color: #4D5AE5;
    cursor: pointer;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.title-team{
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    max-width: 100%;
}

.team-list-item{
    background-color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    align-items: center;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

.div-team{
    padding: 32px 0;
}

.team-list-heading{
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;

}

.team-list-paragraph{
    color: #434455;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.hero{
    background-color: #2E2F42;
    margin-top: 0 auto;
    padding: 188px 0;
    align-items: center;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;

}

.footer-logo{
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;

}

.studio{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.studio-footer{
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.studio > .footer{
    color: #f4f4fd;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin: 0 auto;
}

.a-list{
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 24px 0;
}
.a-list-item:first-child{
    margin-left: 286px;
}

.nav-list-item{
    margin-right: 40px;
    padding: 24px 0;
}

.nav-list-item:last-child,
.a-list-item:last-child{
    margin-right: 0;
}

.nav-list-item-url{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;

}

.nav-list-item-url:hover,
.nav-list-item-url:active,
.nav-list-item-url:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.a-list-item-url{
    font-style: normal;
    color: #434455;
}

.a-list-item-url:hover,
.a-list-item-url:active,
.a-list-item-url:focus{
    color: #404bbf;
}

a{
    text-decoration: none;
}

.hero-title{
    line-height: 1.07;
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button{
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    display: block;
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;

}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.title{
    font-weight: 500;
    line-height: 1.2;

}

.approach {
    padding: 120px 0;
}

.approach-list {
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 100%;
}

.approach-list-item{
    width: calc((100% - 48px) / 3);
}

.approach-heading{
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;

}

.approach-paragraph{
    color: #434455
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;

}

.footer-paragraph{
    color: #F4F4FD;
    max-width: 264px;

}

.footer > .studio{
    color: #F4F4FD;
}

.portfolio{
    padding: 120px 0;
}

.portfolio-list-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    max-width: 100%;
}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);

}

.portfolio-list-item-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin: 0 auto;

}

.title-portfolio{
    line-height: 1.11;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-heading{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header{
    border-bottom: 1px solid #E7E9FC;
}

.header-div{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}